html {
  font-family: Helvetica Neue, Arial, sans-serif;
  line-height: 1.5;
}
body {
  margin: 1rem;
}
button span {
  font-weight: bolder;
}
code {
  font-family: Menlo, Consolas, monospace;
  font-size: .8125em;
  line-height: calc(16 / 13);
}
pre code {
  display: block;
}
/* border-image box */
.demo {
  width: 256px;
  border-color: rgba(0, 0, 0, .5);
  border-style: solid;
  border-image-slice: 8;
  border-image-repeat: repeat;
}
.demo h1 {
  margin: 0;
  font-size: 1.75rem;
  line-height: 2.25rem;
  text-align: center;
}
.demo p {
  margin: 0;
  line-height: 1.5rem;
}
.demo._source-enabled {
  border-image-source: url(bi.svg);
}
